<div class="hero-unit">
  <h2><%= context.translate('mainTitle') %></h2>
  <p><%= context.translate('intro') %></p>
  <p><a class="btn btn-primary btn-custom btn-large" href="<%= context.countryUrl('Portugal') %>">
    <%= context.translate('events.Portugal') %> &raquo;</a></p>
</div>
